@media(max-width:1800px) {
    .av1 {
        width: 60%;
        margin-right: 80px;
    }
}
@media(max-width:1600px){
    
    .main_wrap{
        margin: 0 40px;
        justify-content: space-around;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .bars{
        position: relative;
    }
    .tab_wrap {
        margin: 0 40px;
     }
     .right_side {
        right: 0;
     }
     .swiper-button-next {
        top: 80%;
        left: 95%;
     }
     .swiper-button-prev{
        top: 80%;
        left: 5%;
     }
     .test {
        display: flex;
        justify-content: center;
     }
}
@media(max-width:1400px){
    
    .avia_btn{
    margin: 20px auto 20px;
    padding: 15px;
    }

    .av1 {
        width: 65%;
        margin-right: 80px;
    }
    .bars {
        width: 100vw;
    }
    .img_bg{
        width: 100vw;
    }
    .tab_wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .right_span {
        display: none;
    }
    .tab_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_desc {
        text-align: center;
    }
    .about_title {
        text-align: center;
    }
    .call_img {
        display: none;
    }
    .call {
        display: none;
    }
    .inp_search {
        display: none;
    }
    .search_logo {
        display: none;
    }
    .add{
        display: block;
    }
}
@media(max-width:1100px){
    
    .right_side_img {
        width: 100vw;
    }
    .av2{
        width: 100vw;
    }
    .av1 {
        display: none;
    }
    .swiper-button-next {
        width: 40px;
     }
     .swiper-button-prev{
        width: 40px;
     }
     .span_line,
     .span_th {
        display: none;
     }
}
@media(max-width:764px){
    .ab_gr{
        align-items: center;
    }
    .back_btn img{
        display: none;
    }
    .tab_wrap {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .menu_wrap {
        right: -178%;
    }
    .avia_btn {
        width: 70vw;
        font-size: 5vw;
    }
    .left_side {
        display: flex;
        align-items: center;
    }
    .left_span {
        font-size: 10vw;
        margin-top: 15px;
    }
    .left_title {
        font-size: 3vw;
        margin-top: 30px;
    }
    .left_desc {
        width: 80vw;
        font-size: 3vw;
        text-align: center;
        margin-top: 21px;
    }
    .swiper-button-next {
        width: 35px;
     }
     .swiper-button-prev{
        width: 35px;
     }

}
@media(max-width:600px){
    .swiper{
        overflow: inherit !important;
    }
    .about_span {
        font-size: 10vw;
        margin-top: 15px;
    }
    .about_title {
        font-size: 8vw;
    }
    .about_desc {
        font-size: 6vw;
    }
    .left_title {
        text-align: center;
    }
    .menu_burger {
        width: 10vw;
    }
    .menu_burger::after {
        top: -3px;
        width: 100%;
        height: 5px;
    }
    .menu_burger.active:after {
        width: 100%;
    }
    .menu_burger::before {
        top: 23px;
        width: 100%;
        height: 5px;
    }
    .swiper-button-next {
        top: 80%;
        left: 90%;
        width: 15px;
        position: fixed !important;
     }
     .swiper-button-prev{
        top: 80%;
        left: 5%;
        width: 15px;
        position: fixed !important;
     }
     .left_tip {
        text-align: center;
        margin: 15px auto 0px;
        font-size: 3vw;
     }
    .lang_wrap {
        display: none;
    }
    .header_logo {
    display: none;
    }
    .add{
        margin: 20px 0;
    }
    .menu_wrap {
        width: 100vw;
    }
    .main_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .burger_list{
        display: flex;
        align-items: center;
        margin: 120px auto 0;
    }
}