@import url(../style/fonts.css);
/*???? RESET STYLESHEET ?????*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
// html,
// body{
//   height: 100%;
// }
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
textarea,
button,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
/* VARIABLES*/

/* FONTS colours */

$gray:#6E85B7;
$lightGray:#B2C8DF;
$lightestGray:#C4D7E0;
$milk:#F8F9D7;
$coral:#63B4B8;
$dark:#373435;

/* FONTS STYLE */

$girLight:'Gilroy-Light';
$girMed:'Gilroy-Medium';
$girReg:'Gilroy-Regular';
$girSem:'Gilroy-Semibold';
$intReg:'Inter-Regular';


.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
overflow: hidden;
}
.main_wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.right_pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 30;
}
.lang_wrap {
  display: flex;
}
.logo_img {
  max-width: 246px;
  margin-bottom: 25px;
}
.call_img {
  margin-right: 24px;
}
.call {
  margin-right: 60px;
  font-family: $girReg;
  font-size: 20px;
  line-height: 100%;
  color: rgba(49, 60, 78, 0.35);
}
.inp_search {
  outline: none;
  perspective: none;
  border:1px solid rgba(0, 0, 0, 0.25);
  border-radius: 39px;
  margin-right: 40px;
  position: relative;
  height: 56px;
  width: 382px;
  padding: 15px 15px 15px 50px;
}
input[type="search"] {
  font-size: 20px;
  line-height: 24px;
  color: rgb(49, 60, 78);
  font-family: $intReg;

}
	
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
.lang_img:not(:last-child) {
  margin-right: 20px;
}
.lang_img:last-child{
  margin-right: 49px;
}
.search_logo {
  position: absolute;
  padding: 16px 20px;
  z-index: 1;
}
.menu_burger {
  display: block;
  position: relative;
  width: 56px;
  height: 20px;
  transform: rotate(180deg);
  z-index: 10;
  cursor: pointer;
}
.menu_burger::before,
.menu_burger::after{
  content: '';
  position: absolute;
  width: 100%;
  height:6px;
  left: 0;
  background: #373435;
  border-radius: 8px;
  z-index: 20;
  transition: all 0.3s ease;
}
.menu_burger::after {
  top: -3px;
  width: 60%;
}
.menu_burger::before {
  bottom: -8px;
  width: 80%;
}
.menu_burger span {
  position: absolute;
  background: #373435;
  left: 0;
  top: 10px;
  width: 100%;
  height: 6px;
  border-radius: 8px;
  z-index: 20;
  transition: all 0.3s ease;
}
.burger_link {
  color: #fff;
  font-family: $girReg;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  margin-top: 45px;
  padding-bottom: 15px;
  position: relative;
}

.burger_link::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: rgb(0, 175, 239);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.burger_link::after {
  opacity: 1;
  transform: scale(0);
}
.burger_link:hover::after,
.burger_link:focus::after {
    transform: scale(1);
}

.menu_wrap {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 542px;
  background-color: #302F2F;
  transition: all 0.5s ease;
  overflow: scroll;
}
.menu_wrap.active{
  right: 0;
}
/* AVIA */
.avia_bg {
  background-image: url(../assets/city.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ellipse_carg {
  position: absolute;
  left: 0;
  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-85.1deg);
}
.test {
  position: relative;
  right: -60px;
}
.av_bg {
  height: 150vh;
}
.busavia {
  position: absolute;
  top: 0px;
  max-width: 50vw;
  right: -195px;
  overflow-y: hidden;
}
.menu_burger.active{
  position: relative;
  z-index: 100;
  top: 40px;
  right: 1%;
  opacity: 0;
  visibility: hidden;
}
.close_btn {
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.menu_burger.active:before{
  transform: rotate(45deg);
  top: -3px;
  background-color: white;
}

.menu_burger.active:after{
  transform: rotate(-45deg);
  width: 80%;
  bottom: 5px;
  background-color: white;
}
.menu_burger.active span{
  transform: scale(0);
}
.main_wrap {
  position: relative;
}
.burger_list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 160px;
  margin-top: 41.8px;
  margin-bottom: 68px;
  align-items: flex-end;
}

.burger_item {
  margin-top: 45px;
}
.main_img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.js_fade_left{
  transform: translate(-500px, 500px);
  opacity: 0.5;
  visibility: hidden;
  transition: all 0.7s;
}
.js_fade_right{
  transform: translate(500px, 500px);
  opacity: 0.5;
  visibility: hidden;
  transition: all 0.7s;
}
.js_fade_active{
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}
.img_bg {
  position: relative;
  transform: translate(-500px, 500px);
  opacity: 0.5;
  visibility: hidden;
  transition: all 1.5s;
}
.img_bg._active{
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.tab_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.tab_card {
  max-width: 382px;
  width: 100%;
}
.mainGr_active {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.about_span{
  font-family: $girSem;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 2px;
  color:  #00AFEF;
}
.about_title {
  font-family: $girSem;
  font-size: 32px;
  line-height: 100%;
  color: #313C4E;
  margin-top: 30px;
  text-transform: uppercase;
}
.about_desc {
  font-family: $girReg;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #313C4E;
  margin-top: 15px;
}
.span_line {
  height: 794px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  z-index: -2;
  top: 0px;
  background: linear-gradient(rgba(165, 165, 165, 0) 0%, rgba(165, 165, 165, 0.7) 51.87%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
  right: 50%;
}
.span_line:first-of-type{
  left: 24.7%;
  overflow: hidden;
}
.span_th {
  height: 794px;
  width: 1px;
  position: absolute;
  z-index: -2;
  top: 0px;
  overflow: hidden;
  background: linear-gradient(rgba(165, 165, 165, 0) 0%, rgba(165, 165, 165, 0.7) 51.87%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
  right: 25%;
}
.mt {
  padding-bottom: 50px;
  display: inline-block;
}
.hide{
  display: none;
}

.left_side{
  display: flex;
  flex-direction: column;
  width: 683px;
}
.main_gr {
  transform: translate(2000px);
  visibility: hidden;
  opacity: 0;
  transition: all 1.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}
.mn_pg {
  overflow: hidden;
}
.main_gr._active{
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.avia_gr {
  display: flex;
  // flex-direction: column;
  transform: translate(2000px);
  visibility: hidden;
  opacity: 0;
  transition: all 1.3s;
  position: relative;
}
.avia_gr._active{
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.carg_opa {
  transform: translate(2000px);
  transition: all 1.3s;
  height: 100%;
}
.carg_opa._active {
  transform: translate(0);
}
.ab_gr{
  display: flex;
  transform: translate(2000px);
  transition: all 1.3s;
  visibility: hidden;
  position: relative;
}
.ab_gr._active{
  transform: translate(0);
  visibility: visible;
}

.jet_wrap {
  display: flex;
  transform: translate(2000px);
  transition: all 1.3s;
  visibility: hidden;
}
.jet_wrap._active{
  transform: translate(0);
  visibility: visible;
}


.ex_wrap {
  position: unset;
}
.med_bg {
  background-image: url(../assets/med-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}
.fl_img {
  position: absolute;
  top: 300px;
  right: -195px;
}
.fl_vim {
  top: 90px;
}
.fl_bg_fil {
  position: absolute;
  right: -300px;
  top: 300px;
  background: rgba(217, 217, 217, 0.35);
}
.fl_bg_fil_other {
  top: 260px;
  z-index: -2;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 50%;
}
.extra_img {
  position: absolute;
  right: -200px;
  // bottom: -400px;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 50%;
  z-index: -2;
}
.ex_img {
  top: 150px;
  position: relative;
  right: 50px;
}
.man_im {
  position: relative;
  top: 30px;
}
/* PAGE ABOUT */
.left_title {
  font-family: $girSem;
  font-size: 32px;
  line-height: 130%;
  color: #313C4E;
  margin-top: 60px;
  text-transform: uppercase;
}
.cg_tl {
  margin-top: 30px;
}
.left_span {
  font-family: $girSem;
  font-size: 64px;
  line-height: 130%;
  color:#00AFEF;
  margin-top: 30px;
}
.an_sp {
  font-family: $girSem;
  font-size: 64px;
  line-height: 130%;
  color:#00AFEF;
  margin-top: 0;
}
.left_tip {
  font-family: $girSem;
  font-size: 24px;
  line-height: 130%;
  color: #313C4E;
  margin-top: 15px;
}
.left_desc {
  font-family: $girReg;
  font-size: 20px;
  line-height: 140%;
  color: #313C4E;
  margin-top: 43px;
}
.left_desc p:first-child {
  margin-bottom: 30px;
}
.back_btn {
  font-family: $girReg;
  font-size: 24px;
  line-height: 140%;
  color: #313C4E;
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: relative;
  z-index: 10;
  transition: .5s;
}
.back_btn:hover {
  color: #00AFEF
  ;
}
.back_btn img {
  margin-right: 10px;
}
.right_side{
  right: -100px;
  top: -100px;
  position: relative;
}

.img_media{
  position: absolute;
  right: 0;
}
.av1{
  width: 955px;
  height: 330px;
  right: -100px;
  top: 50px;
  position: absolute;
  z-index: -2;
}
.av2 {
  position: absolute;
  bottom: 0;
  z-index: -2;
  right: 130px;
  width: 40vw;
}

.Ellipse{
  position: absolute;
  top: 170px;
  right: -25px;
  z-index: -2;
}

.left_desc {
  width: 653px;
}
.cargg_span {
  font-family: $girSem;
  font-size: 96px;
  line-height: 118px;
  color: rgba(49, 60, 78, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: rotate(270deg);
  position: fixed;
  right: -550px;
  z-index: 2;
  top: 400px;
}
.right_span p{
  font-family: $girSem;
  font-size: 85px;
  line-height: 100%;
  color: rgba(49, 60, 78, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: rotate(270deg);
  position: fixed;
  right: -345px;
  top: 45%;
}
/* CARGO SWIPER */
.add {
  margin-top: 20px;
  display: none;
}
.body_bg {
  background-image: url(../assets/registan.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hd_lg_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avia_btn {
  font-family: $girReg;
  padding: 30px 91px;
  font-size: 24px;
  line-height: 100%;
  color: white;
  background-color: #00AFEF;
  margin-top: 94px;
  border-radius: 100px;
  width: 380px;
  text-align: center;
  transition: .5s;
  display: inline-block;
}
.car_mb {
  margin-bottom: 184px;
}
// .car_img {
//   right: 50px;
// }
.av_bn {
  margin-top: 41px;
  width: 380px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
}
.avia_btn:hover {
  background-color: #454848;
  color: #fff;
}

.swiper-button-prev {
  position: absolute;
  left: 48%;
  top: 175%;
  transform: rotate(180deg);
  width: 47px;
}
.swiper-button-next {
  position: absolute;
  top: 175%;
  right: 60px;
  width: 47px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}
.sw_prev svg,
.sw_next svg {
  position: absolute;
  width: 47px;
  height: 47px;
}
.sw_next svg {
  right: 10px;
}
.carg_anim {
  position: absolute;
  top: 120px;
}
.carg_anima {
  position: absolute;
  top: 150px;
  left: 100px;
}
/* TABLE _WRAP */

.table_wrap{
  display: grid;
  grid-template-columns: repeat(2,380px);
  margin-top: 9px;
  grid-gap: 25px;
}
.table_wrap-btn {
  padding: 18px 26px 17px 20px;
  font-family: $girLight;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.43);
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  transition: .5s;
}
.table_wrap-btn:hover{
  background-color: #454848;
  color: #fff;
}
.table_wrap-btn{
  margin-top: 30px;
}
.table_last-btn {
  width: 100%;
  padding: 18px 26px 17px 20px;
  font-family: $girLight;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.43);
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  text-align: center;
  margin-top: 14px;
  grid-column: 1 / 3;
  transition: .5s;
}
.table_last-btn:hover{
  background-color: #454848;
  color: #fff;
}
/* /??????????????????????CHARTER STYLES??????????????????????/ */
::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../assets/Vector.png) no-repeat center;
  background-size: contain;
}
input{
  border: transparent;
}
input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
  border:1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: $intReg;
  font-size: 15px;
  line-height: 19px;
  margin-right: 2px;
}
.left_form-input:focus {
  border: transparent;
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.left_form-input::placeholder{
  color: #212529;
  opacity: 0.4;
}
.left_choice {
  display: flex;
  margin-top: 108px;
  &-btn:not(:last-child) {
    margin-right: 60px;
  }
  &-btn {
    font-family: $intReg;
    font-size: 15px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.91);
    transition: .5s;
    cursor: pointer;
    opacity: .7;
  }
  &-btn:hover{
    opacity: 1;
  }
}
.left_form {
    margin-top: 24px;
    grid-gap: 2px;
    display: flex;
    &-input {
      padding: 26px 18px 25px 15px;
      margin-right: 2px;
    }
    input[type="submit"]{
    background: #00AFEF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-family: $intReg;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    }
  input[type=submit]:hover {
      color: white;
      background-color: #454848;
  }
  input[type="date"]{
    border-radius: 10px;
    font-family: $intReg;
    font-size: 15px;
    line-height: 19px;
    color: 
    #A0B0B9;
    cursor: pointer;
  }
  input[type="button"]{
    background: #00AFEF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-family: $intReg;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
  }
  input[type="button"]:hover{
    color: white;
    background-color: #454848;
  }
  #back {
    display: none;
    transition: 1.5s;
  }
  #back.active{
    display: block;
    transition: 1.5s;
  }
}
.form_box {
  display: flex;
  flex-direction: column;
}
.for_bx {
  display: flex;
  align-items: center;
}
.form_btn-wrap {
  display: flex;
  justify-content: space-between;
}
#btn_none {
opacity: 0;
transition: .5s;
visibility: hidden;
transform: translate(0,200px);
}
#btn_none.active{
opacity: 1;
grid-column: 5;
visibility: visible;
transform: translate(0,0);
}
#btn_del {
visibility: hidden;
transition: .5s;
opacity: 0;
transform: translate(0,200px);
}
#btn_del.active{
opacity: 1;
visibility: visible;
grid-column: 5;
transform: translate(0,0);
}

.btn_non_inp {
  background: #00AFEF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: $intReg;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  transition: .5s;
  padding: 26px 18px 25px 15px;
  width: 200px;
  margin-right: 5px;
}
.btn_non_inp:hover{
  color: white;
  background-color: #454848;
}
.left_form select {
  border-radius: 10px;
  font-family: $intReg;
  font-size: 15px;
  line-height: 19px;
  color: 
  #A0B0B9;
  cursor: pointer;
  outline: none;
  border: none;
}
/* ??????????????????????????////////JET STYLES/////////????????????????????? */

.jet_tip {
  font-family: $girReg;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-top: 26px;
  width: 653px;
}
.jet_form {
  display: grid;
  grid-template-columns: repeat(2,515px);
  margin-top: 48px;
  grid-gap: 26px;
}
.jet_form input[type="text"],
.jet_form input[type="number"],
.jet_form input[type="email"],
.jet_form input[type="tel"]{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  outline: none;
  font-family: $girLight;
  font-size: 20px;
  line-height: 24px;
}
.jet_form-input{
  padding: 18px 18px 17px 27px;
}
.jet_img {
  position: absolute;
  background: linear-gradient(278.7deg, #FFFFFF 44.04%, rgba(255, 255, 255, 0) 68.92%), url(pngegg.png);
}
.jet_right {
  top: 0;
  right: 50px;
}
.jet_form-submit {
  padding: 18px 32px 16px;
  font-family:$girSem;
  font-size: 20px;
  line-height: 24.5px;
  background: #00AFEF;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
  transition: .5s;
  margin-top: 48px;
}
.jet_form-submit:hover {
  color: #00AFEF;
  border:1px solid #313C4E;
  background-color: #454848;
}
/* ????????????????????????????TAXI SHARING????????????????????????????????? */
.taxi_bg {
  background: url(../assets/taxibg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.taxi_jet {
  position: absolute;
  top: 150px;
  right: -148px;
}
.taxi_card {
  display: flex;
  align-items: center;
  margin-right: 31px;
  margin-top: 38px;
}
.taxi_card img {
  margin-right: 24px;
}
.air_taxi-btn {
  font-family: $girReg;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.palete_img {
  position: absolute;
  right: 150px;
  top: 200px;
}
.taxi_wrap {
  margin-top: 50px;
  margin-bottom: 105px;
}
.taxi_last-btn {
  padding: 18px 32px;
  background: #00AFEF;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  grid-column: 1/3;
  text-align: center;
  color: #fff;
  font-family: $girSem;
  font-size: 20px;
  line-height: 24px;
  transition: .5s;
  margin-top: 29px;
}
.taxi_last-btn:hover{
  background-color: #454848;
  color: #fff;
}

/* ????????????????????????????EMPTY FORM???????????????????????????????? */
.empty_form {
  display: grid;
  grid-template-columns: repeat(2,248px);
  margin-top: 44px auto 0;
  grid-gap: 26px;
}
.empty_form input[type="text"],
.empty_form input[type="number"],
.empty_form input[type="email"],
.empty_form input[type="tel"]{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  outline: none;
  font-family: $girLight;
  font-size: 20px;
  line-height: 24px;
}
.empty_form-submit {
  padding: 18px 32px 16px;
  font-family:$girSem;
  font-size: 20px;
  line-height: 24.5px;
  background: #00AFEF;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
  transition: .5s;
  margin-top: 48px;
}
.empty_form-submit:hover{
  background-color: #000;
  color: #fff;
}

.empty_form-input{
  padding: 18px 18px 17px 27px;
}
#tel{
  grid-column: 1/3;
}
.left_sp {
  font-family: $girReg;
  font-size: 20px;
  line-height: 24px;
  color: $dark;
  margin-top: 15px;
}
.empty_form input[type="submit"]{
  background: #00AFEF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: $intReg;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  padding: 18px 32px;
  margin-bottom: 125px;
  transition: .5s;
  margin-top: 22px;
  }
  .empty_form input[type="submit"]:hover{
    color: #00AFEF;
    background-color: #454848;

  }
  .empty_img {
    position: relative;
    top: 35px;
    width: 49vw;
    right: -15px;
    overflow-y: hidden;
  }
  .air_ct_bt {
    margin-bottom: 30px;
  }
.empty_leg-tip {
  width: 653px;
  font-family: $girReg;
  font-size: 20px;
  line-height: 24px;
  color: #313C4E;
  margin-bottom: 30px;
}
/* ?????????????????????????????????????????HANGAR?????????????????????????????????? */
.hangar_desc {
  margin-bottom: 120px;
}


/* HANGAR STYLES */

:root {
  --cont: 1600px;
  --sliders-space: 82px;
}
.air_cat-swipe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper_hang {
  width: 80vw;
}
.f_bl {
  height: 767px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // padding-bottom: 105px;
  margin-top: 30px;
}

.f_bl_back_btn {
  margin-right: auto;
  margin-left: auto;
  width: var(--cont);
  display: flex;
}

.f_bl_l {
  height: 100%;
  margin-left: calc((100% - var(--cont)) / 2);
  width: calc((var(--cont) - var(--sliders-space)) * 730 / 1518);
}

.f_bl_r {
  height: 100%;
  margin-top: 57px;
  position: relative;
  margin-left: var(--sliders-space);
  width: calc((var(--cont) - var(--sliders-space)) * 788 / 1518 + (100% - var(--cont)) / 2);
}

.inn_f_bl_r {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.mySwiper2 .swiper-slide {
  border-radius: 5px;
}
.swiper-slide-next{
  opacity: .3;
  transition: .6s;
}
.swiper-slide-prev{
  opacity: .3;
  transition: .6s;
}
.mySwiper2 .swiper-slide {
  opacity: .5;
  transition: .6s
}
.mySwiper2 .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.mySwiper2 {
  height: 100%;
  width: calc((var(--cont) - var(--sliders-space)) * 788 / 1518);
}
.f_bl_r .swiper-btn-next svg,
.f_bl_r .swiper-btn-prev svg {
  display: block;
  width: 100%;
  height: auto;
}

.f_bl_r .swiper-btn-next svg path,
.f_bl_r .swiper-btn-prev svg path {
transition:.3s;
}
.f_bl_r .swiper-btn-next:hover svg path,
.f_bl_r .swiper-btn-prev:hover svg path {
fill:#00AFEF;
}

.f_bl_r .swiper-btn-next,
.f_bl_r .swiper-btn-prev {
  transition:.3s;
  position: absolute;
  top: 293px;
  width: 47px;
  height: 47px;
  z-index: 1;
  cursor: pointer;
}

.f_bl_r .swiper-btn-next.swiper-button-disabled,
.f_bl_r .swiper-btn-prev.swiper-button-disabled {
  opacity: .2;
}
.f_bl_r .swiper-btn-next.swiper-button-disabled svg path,
.f_bl_r .swiper-btn-prev.swiper-button-disabled svg path {
  fill: #000;
}
.f_bl_r .swiper-btn-prev {
  left: -56px;
}

.f_bl_r .swiper-btn-next {
  right: unset;
  left: calc((var(--cont) - var(--sliders-space)) * 788 / 1518 + 9px);
}

.mySwiper2 {
  height: 100%;
  width: calc((var(--cont) - var(--sliders-space)) * 788 / 1518);
}

.mySwiper2 .swiper-slide {
  opacity: .6;
  transition: .3s
}

.mySwiper2 .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.hg_dsc {
  width: 100%;
}

// .te {
//   height: 354px;
//   position: relative;
//   background-image: url(../assets/hamburg.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.hg_ma_im {
  background-image: url(../assets/Ангар.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
// .hang_bg{
//   background-image: url(../assets/hamburg-png.png);
//   background-position: bottom;
//   background-repeat: no-repeat;
// }
/* ?????????????????/////////////////???????????????????SW WRAP////////////??????????????????????????/////////////////////////// */
.air_cat {
  display: flex;
  flex-direction: column-reverse;
}
.swiper-bt-prev{
  position: absolute;
  top: 27%;
  left: 16%;
  z-index: 20;
}
.swiper-bt-next {
  position: absolute;
  top: 27%;
  right: 18%;
  z-index: 20;
}
.air_r .swiper-bt-next.swiper-button-disabled,
.air_r .swiper-bt-prev.swiper-button-disabled {
  opacity: .2;
}
.air_r .swiper-bt-next svg,
.air_r .swiper-bt-prev svg {
  display: block;
  width: 100%;
  height: auto;
}

.air_r .swiper-bt-next svg path,
.air_r .swiper-bt-prev svg path {
transition:.3s;
}
.air_r .swiper-bt-next:hover svg path,
.air_r .swiper-bt-prev:hover svg path {
fill:#00AFEF;
}
.air_r .swiper-bt-next svg circle,
.air_r .swiper-bt-prev svg circle{
  fill: #b2afb1;
}
.air_r .swiper-bt-next:hover svg circle,
.air_r .swiper-bt-prev:hover svg circle{
fill: #000;
}

/* ?????????AIR CATALOG STYLES?????????? */

.air_cat_l_bg {
  background: url(../assets/mountain_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.air_cat_l {
  width: 958px;
}
.ar_ct_bx {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 11px 0 0 11px;
  margin-bottom: 126px;
}
.ar_ct_pr{
  display: flex;
  align-items: flex-start;
}
.ar_ct_span {
  font-family: $girLight;
  font-size: 16px;
  line-height: 19px;
  color: rgba(49, 60, 78, 0.5);
}
.ar_ct_span:last-of-type{
  margin-top: 20px;
  display: inline-block;
}
.ar_tc_span {
  margin-left: 40px;
}
.ar_ct_title {
  font-family: $girSem;
  font-size: 24px;
  line-height: 29px;
  color: 
  #313C4E;
}
.ar_ct_title:first-of-type{
  margin-left: 11px;
}
.ar_ct_inner {
  margin-left: 11px;
}
.ar_ct_pr:not(:last-child){
  margin-right: 110px;
}
.cn_btn {
  display: flex;
  justify-content: space-between;
}


/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: blue
}
::-webkit-scrollbar-thumb:hover {
  background-color:blue
}

.active_b{
  animation-name: bounce;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-delay:500ms ;
}
@keyframes bounce{
  0%{
      transform: translate(0,-20px);
  }
  50%{
      transform: translate(0);
  }
  100%{
      transform: translate(0,-20px);
      
  }
}


.mini_sign {
  position: absolute;
  color: #00AFEF;
  font-size: 30px;
}
.mini_sign {
  opacity: 0;
}
.mini_sign.active{
  opacity: 1;
}
.burger_bot {
  display: none;
}
/* DROP DOWN */

.btn::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: rgb(0, 175, 239);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.btn::after {
  opacity: 1;
  transform: scale(0);
}
.btn:hover::after,
.btn:focus::after {
    transform: scale(1);
}
.ar_st {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: white;
  right: -30px;
  transition: .5s;
}

.active_st {
  transform: rotate(90deg);
  color: #00AFEF;
}
.burger_list li a{
  display: inline-block;
  color: #fff;
  font-family: "Gilroy-Regular";
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  margin-top: 45px;
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  padding: 15px;
  background-color: #a6a8ac;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.menu_active{
  opacity: 1;
  position: relative;
  visibility: visible;
  width: 265px;
}

.animated-show {
  opacity: 1;
}
.animated-show.animated-show-active {
  transition: opacity 2s ease-out;
  animation-name: animate;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
}
@keyframes animate{
  0%{
    transform: translate(-300px,0);
    opacity: 0.7;
  }
  50%{
    transform: translate(0,0);
    opacity: 0.5;
  }
  100%{
    transform: translate(-1500px,0);
    opacity: 0;
  }
}
.r_sd_mm {
  position: unset;
}

.truck {
  position: absolute;
  top: 200px;
  right: 0;
}
.cargo {
  position: absolute;
  top: 20px;
  right: -40px;
}
/* VIP-Tours */
.vip_btn {
  margin-bottom: 291px;
}
.vip_img {
  background-image: url(../assets/vip-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(2000px);
  transition: all 1.3s;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
.vip_img._active{
  transform: translate(0);
  visibility: visible;
}

.empt_ttl {
  margin-top: 20px !important;
}
.left_ttl {
  margin-top: 15px !important;
}
/* EMPTY_LEGS */
.ept_wrap_card {
  padding: 5px 0 0 9px;
}
.dt_sp {
  font-family: $girReg;
  font-size: 20px;
  line-height: 24px;
  color: #00AFEF;
  margin-right: 7px;
}
.dt_spa {
  font-family: $girReg;
  font-size: 20px;
  line-height: 24px;
  color: #00AFEF;
  margin-left: 8px;
}
.ept_date{
  font-family: $girMed;
  font-size: 20px;
  line-height: 24px;
  color: 
  #000000;
  margin-top: 34px;
}
.ept_img {
  color: 
  #00AFEF;
}
.ept_wrap_img {
  margin-right: 24px;
  border-radius: 12px;
}
.ept_bx {
  display: flex;
  flex-direction: column;
}
.ept_wrap_card {
  display: flex;
}
.ept_wrap_bx{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 25px;
  margin-bottom: 64px;
}
.ept_ways {
  display: flex;
  align-items: center;
}
.ept_time_wrap {
  display: flex;
  align-items: center;
  margin-top: 29px;
}
.ept_span {
  font-family: $girMed;
  font-size: 24px;
  line-height: 29px;
}
.ept_span:first-child{
  margin-right: 10px;
}
.ept_span:last-child{
  margin-left: 10px;
}
.ept_time_span {
  font-family: $girReg;
  font-size: 15px;
  line-height: 18px;
  color: 
  #000000;
}
.ept_time_span:first-child{
  margin-right: 10px;
}
.ept_time_span:last-child{
  margin-left: 10px;
}
.pc_btn {
  margin-top: 29px;
  padding: 18px 30px;
  text-align: center;
  background-color: #00AFEF;
  border-radius: 9px;
  color: #fff;
  font-family: $girMed;
  font-size: 20px;
  line-height: 24px;
  transition: .5s;
  cursor: pointer;
}
.pc_btn:hover {
  background-color: #302F2F;
  color: #fff;
}
.btn_all{
  margin-top: 29px;
  padding: 18px 30px;
  text-align: center;
  background-color: #00AFEF;
  border-radius: 9px;
  color: #fff;
  font-family: $girMed;
  font-size: 20px;
  line-height: 24px;
  transition: .5s;
  cursor: pointer;
}
.btn_all:hover {
  background-color: #302F2F;
  color: #fff;
}